<mat-toolbar>
  
 <img src="../../../assets/logo.jpg" alt="logo">

  <div class="spacer"></div>

  <div class="button-container">
    <button mat-button routerLink="MiPerfil">Mi Perfil</button>
    <button mat-button [matMenuTriggerFor]="menu">Mis Diseños</button>
    

    <mat-menu #menu="matMenu" class="menu-container">
      <button mat-menu-item routerLink="MisDisenos" class="menu-item">Ver Mis Diseños</button>
      <button mat-menu-item routerLink="NuevoDiseno" class="menu-item">Crear un Nuevo Diseño</button>
    </mat-menu>
    
    <button mat-button routerLink="MarketPlace">MarketPlace</button>
    <button mat-raised-button routerLink="/">Log Out</button>
  </div>

</mat-toolbar>
